<!-- <!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title></title>
    </head>
    <body>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="myDiv">
        <h1>Mert Sancar Personal Website is under construction</h1>
        <h2>Coming Soon</h2>
        <iframe src="https://giphy.com/embed/cfGmVRsJI6wq6noGxP" width="462" height="480" frameBorder="0" class="giphy-embed" ></iframe><p><a href="https://giphy.com/gifs/animation-dreamlife-daviin-cfGmVRsJI6wq6noGxP"></a></p>
        </div>
        
        <style>
            body{
                background-color: #008AD7;
                text-align: center;
            }
            
            .myDiv{
                border: 2px solid white;
                color: solid white;
                font-family: bold;
            }
                        
        </style>
    </body>
</html> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Mert Sancar</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css"  >
    <!-- Fonts -->
    <link rel="stylesheet" type="text/css" href="stylesheets/font-awesome.min.css">
    <!-- Icon -->
    <link rel="stylesheet" type="text/css" href="stylesheets/simple-line-icons.css">
    <!-- Slicknav -->
    <link rel="stylesheet" type="text/css" href="stylesheets/slicknav.css">
    <!-- Menu CSS -->
    <link rel="stylesheet" type="text/css" href="stylesheets/menu_sideslide.css">
    <!-- Slider CSS -->
    <link rel="stylesheet" type="text/css" href="stylesheets/slide-style.css">
    <!-- Nivo Lightbox -->
    <link rel="stylesheet" type="text/css" href="stylesheets/nivo-lightbox.css" >
    <!-- Animate -->
    <link rel="stylesheet" type="text/css" href="stylesheets/animate.css">
    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
    <!-- Responsive Style -->
    <link rel="stylesheet" type="text/css" href="stylesheets/responsive.css">

  </head>
  <body>

    <!-- Header Area wrapper Starts -->
    <header id="header-wrap">
      <!-- Navbar Start -->
      <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar indigo">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              <span class="icon-menu"></span>
              <span class="icon-menu"></span>
              <span class="icon-menu"></span>
            </button>
            <!-- <a href="index.html" class="navbar-brand"><img src="images/logo.png" alt=""></a> -->
          </div>
          <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="onepage-nev navbar-nav mr-auto w-100 justify-content-center clearfix">
              <li class="nav-item active">
                <a class="nav-link" href="#hero-area">
                  Home
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about">
                  About
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#services">
                  Services
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#resume">
                  Resume
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#portfolios">
                  Work
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">
                  Contact
                </a>
              </li>
            </ul>
            <!-- <button onclick="darkMode()">Toggle dark mode</button> -->
          </li>
          </div>
        </div>

        <!-- Mobile Menu Start -->
        <ul class="onepage-nev mobile-menu">
          <li>
            <a href="#home">Home</a>
          </li>
          <li>
            <a href="#about">about</a>
          </li>
          <li>
            <a href="#services">Services</a>
          </li>
          <li>
            <a href="#resume">resume</a>
          </li>
          <li>
            <a href="#portfolio">Work</a>
          </li>
          <li>
            <a href="#contact">Contact</a>
          </li>
        </ul>
        <!-- Mobile Menu End -->
      </nav>
      <!-- Navbar End -->

      <!-- Hero Area Start -->
      <div id="hero-area" class="hero-area-bg">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
              <div class="contents">
                <!-- <h5 class="script-font wow fadeInUp" data-wow-delay="0.2s">Hi This is</h5> -->
                <h2 class="head-title wow fadeInUp" data-wow-delay="0.4s">Mert Sancar</h2>
                <p class="script-font wow fadeInUp" data-wow-delay="0.6s">Software Developer</p>
                <ul class="social-icon wow fadeInUp" data-wow-delay="0.8s">
                  <li>
                    <a class="twitter" href="https://twitter.com/tremracnas"><i class="icon-social-twitter"></i></a>
                  </li>
                  <li>
                    <a class="linkedin" href="https://www.linkedin.com/in/mertsancar/"><i class="icon-social-linkedin"></i></a>
                  </li>
                  <li>
                    <a class="github" href="https://github.com/mertsancar"><i class="icon-social-github"></i></a>
                  </li>
                  <li>
                    <a class="instagram" href="https://www.instagram.com/mersancar/"><i class="icon-social-instagram"></i></a>
                  </li>
                </ul>
                <div class="header-button wow fadeInUp" data-wow-delay="1s">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Hero Area End -->

    </header>
    <!-- Header Area wrapper End -->

    <!-- About Section Start -->
    <section id="about" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="img-thumb wow fadeInLeft" data-wow-delay="0.3s">
              <img class="img-fluid" src="images/about/about-1.jpeg" alt="">
            </div>
          </div> 
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="profile-wrapper wow fadeInRight" data-wow-delay="0.3s">
              <h3>About me</h3>
              <p>I am a final year student in the Department of Software Development with a GPA of 3.55/4 at 
                Yeditepe University in Turkey. I am curious and enthusiastic about backend development. 
                I created the backend side of this website. AI, 
                data science, cloud systems and game development are other areas of my interest. 
                You can see my projects in my GitHub account. 
                </p>
              <div class="about-profile">
                <ul class="admin-profile">
                  <li><span class="pro-title"> Name </span> <span class="pro-detail">Mert Sancar</span></li>
                  <li><span class="pro-title"> Age </span> <span class="pro-detail">21</span></li>
                  <li><span class="pro-title"> Experience </span> <span class="pro-detail">1 Years</span></li>
                  <li><span class="pro-title"> Country </span> <span class="pro-detail">Turkey</span></li>
                  <li><span class="pro-title"> Location </span> <span class="pro-detail">Istanbul</span></li>
                  <li><span class="pro-title"> e-mail </span> <span class="pro-detail">mertsancar@outlook.com.tr</span></li>
                  <!-- <li><span class="pro-title"> Phone </span> <span class="pro-detail">+ (90) 531 081 23 04</span></li> -->
                </ul>
              </div>
              <!-- <a href="#" class="btn btn-common"><i class="icon-paper-clip"></i> Download Resume</a> -->
              <a href="mailto:mertsancar@outlook.com.tr" class="btn btn-common"><i class="icon-speech"></i> Contact Me</a>
            </div>
          </div>   
        </div>
      </div>
    </section>
    <!-- About Section End -->

    <!-- Services Section Start -->
    <section id="services" class="services section-padding">
      <h2 class="section-title wow flipInX" data-wow-delay="0.4s">What I do</h2>
      <div class="container">
        <div class="row">
          <!-- Services item -->
          <div class="col-md-6 col-lg-3 col-xs-12">
            <div class="services-item wow fadeInDown" data-wow-delay="0.6s">
              <div class="icon">
                <i class="icon-layers"></i>
              </div>
              <div class="services-content">
                <h3><a href="#">Backend Development</a></h3>
                <p>C#  - Javascript</p>
                <p>.NET - Node.js</p>
              </div>
            </div>
          </div>
          <!-- Services item -->
          <div class="col-md-6 col-lg-3 col-xs-12">
            <div class="services-item wow fadeInDown" data-wow-delay="0.3s">
              <div class="icon">
                <i class="icon-game-controller"></i>
              </div>
              <div class="services-content">
                <h3><a href="#">Game Development</a></h3>
                <p>C#</p>
                <p>.NET - Unity</p>
              </div>
            </div>
          </div>
          <!-- Services item -->
          <div class="col-md-6 col-lg-3 col-xs-12">
            <div class="services-item wow fadeInDown" data-wow-delay="0.9s">
              <div class="icon">
                <i class="icon-calculator"></i>
              </div>
              <div class="services-content">
                <h3><a href="#">AI</a></h3>
                <p>Python</p>
                <p>Tensorflow</p>
              </div>
            </div>
          </div>
          <!-- Services item -->
          <div class="col-md-6 col-lg-3 col-xs-12">
            <div class="services-item wow fadeInDown" data-wow-delay="1.2s">
              <div class="icon">
                <i class="icon-cloud-download"></i>
              </div>
              <div class="services-content">
                <h3><a href="#">Cloud</a></h3>
                <p>AWS - Azure</p>
                <p>DynamoDB - CosmosDB</p>
                <!-- <p>AWS DynamoDB Azure CosmosDB</p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Services Section End -->

    <!-- Resume Section Start -->
    <div id="resume" class="section-padding">
      <div class="container">
        <div class="row">
          <div >
            <div class="education wow fadeInRight" data-wow-delay="0.3s">
              <ul class="timeline">
                <li>
                  <i class="icon-graduation"></i>
                  <h2 class="timelin-title">Education</h2>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Software Development Department- Yeditepe University</h3>
                    <span>2019 - 2023</span>
                    <p class="line-text">Bacloar's degree GPA: 3.55</p>
                  </div>
                </li>               
              </ul>
            </div>
          </div>
          <div >
            <div class="experience wow fadeInRight" data-wow-delay="0.6s">
              <ul class="timeline">
                <li>
                  <i class="icon-briefcase"></i>
                  <h2 class="timelin-title">Experience</h2>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Salesforce Developer Intern - Kofana Digital</h3>
                    <span>Jan 2018 - Present</span>
                    <p class="line-text">Expenses as material breeding insisted building to in. Continual so distrusts pronounce by unwilling listening. Thing do taste on we manor.</p>
                  </div>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Unity Developer - Bimcrone</h3>
                    <span>Feb 2022 - March 2022</span>
                    <p class="line-text">BIMCRONE is a Building Information Modeling (BIM) solution software which developed with Unity. 
                      I contribute to the development of Bimcrone on the Unity side.</p>
                  </div>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Game Developer Intern - Madcraft Studios</h3>
                    <span>Nov 2021- Jan 2022</span>
                    <p class="line-text">Madcraft Studios is an Istanbul-based game studio founded by 4 young entrepreneurs. 
                      Madcraft studio was funded by WePlay Ventures in December 2020. Here, as a game 
                      developer, I had the opportunity to work with technologies such as Unity and C#. I have 
                      gained startup experience.</p>
                  </div>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">RPA Developer - Enagrup (Inflation Research Group)</h3>
                    <span>Aug 2021- Nov 2021</span>
                    <p class="line-text">It is an academic project that aims to calculate the inflation of the country by d
                      aily collecting the product prices from the pages of the most popular e-commerce websites in Turkey over the 
                      Internet. My task in this project is to quickly extract and save data from web pages. We use 
                      Python in the project.</p>
                  </div>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Backend Developer Intern - Softtech</h3>
                    <span>July 2021 - Aug 2021</span>
                    <p class="line-text">I had the opportunity to work on a live product (www.pasabahcemagazalari.com) with hundreds of active users. 
                      I worked with Amazon Web Service. I created data tables using DynamoDB and NoSQL. 
                      I developed services using technologies such as Javascript and 
                      Node.js. I learned about serverless computing. </p>
                  </div>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Unity Developer - Daimia Engineering</h3>
                    <span>July 2021 - Aug 2021</span>
                    <p class="line-text">I worked in the Daimia AI team. 
                      I worked on an artificial intelligence project that 
                      uses synthetic data from the simulation we created with Unity</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <!-- <div >
            <div class="achievements wow fadeInRight" data-wow-delay="0.6s">
              <ul class="timeline">
                <li>
                  <i class="icon-people"></i>
                  <h2 class="timelin-title">Achievements</h2>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Microsoft Learn Student Ambassador - Microsoft</h3>
                    <span>Aug 2020 - Present</span>
                    <p class="line-text">Learn Student Ambassadors are a global group of campus leaders
                       who are eager to help fellow students, create robust tech communities, and 
                       develop technical and career skills for the future.</p>
                  </div>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Peer Advising Program - Yeditepe University</h3>
                    <span>Sep 2020 - Sep 2022</span>
                    <p class="line-text">The mission of the program is to facilitate the adaptation 
                      process of our new undergraduate students to university life.</p>
                  </div>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Software Development Department Representative - Yeditepe</h3>
                    <h3 class="line-title">University</h3>
                    <span>Feb 2020 - Present</span>
                  </div>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">School of Applied Sciences Representative - Yeditepe University</h3>
                    <span>Nov 2021 - Present</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div >
            <div class="certification wow fadeInRight" data-wow-delay="0.6s">
              <ul class="timeline">
                <li>
                  <i class="icon-briefcase"></i>
                  <h2 class="timelin-title">Certification</h2>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Microsoft Certified:Azure AI Engineer Associate</h3>
                    <span>Sep 2021</span>
                  </div>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Microsoft Certified: Azure AI Fundamentals</h3>
                    <span>May 2021</span>
                  </div>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Microsoft Certified: Azure Data Fundamentals</h3>
                    <span>April 2021</span>
                  </div>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Microsoft Certified: Azure Fundamentals</h3>
                    <span>April 2021</span>
                  </div>
                </li>
              </ul>
            </div>
          </div> -->
        </div>
      </div>
    </div>

    <div id="resume" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="achievements wow fadeInRight" data-wow-delay="0.6s">
              <ul class="timeline">
                <li>
                  <i class="icon-badge"></i>
                  <h2 class="timelin-title">Achievements</h2>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Microsoft Learn Student Ambassador - Microsoft</h3>
                    <span>Aug 2020 - Present</span>
                    <p class="line-text">Learn Student Ambassadors are a global group of campus leaders
                       who are eager to help fellow students, create robust tech communities, and 
                       develop technical and career skills for the future.</p>
                  </div>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Peer Advising Program - Yeditepe University</h3>
                    <span>Sep 2020 - Sep 2022</span>
                    <p class="line-text">The mission of the program is to facilitate the adaptation 
                      process of our new undergraduate students to university life.</p>
                  </div>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Software Development Department Representative - Yeditepe</h3>
                    <h3 class="line-title">University</h3>
                    <span>Feb 2020 - Present</span>
                  </div>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">School of Applied Sciences Representative - Yeditepe University</h3>
                    <span>Nov 2021 - Present</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="certification wow fadeInRight" data-wow-delay="0.6s">
              <ul class="timeline">
                <li>
                  <i class="icon-notebook"></i>
                  <h2 class="timelin-title">Certification</h2>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Microsoft Certified: Azure Cosmos DB Developer Specialty</h3>
                    <span>Sep 2022</span>
                  </div>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Microsoft Certified:Azure AI Engineer Associate</h3>
                    <span>Sep 2021</span>
                  </div>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Microsoft Certified: Azure AI Fundamentals</h3>
                    <span>May 2021</span>
                  </div>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Microsoft Certified: Azure Data Fundamentals</h3>
                    <span>April 2021</span>
                  </div>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Microsoft Certified: Azure Fundamentals</h3>
                    <span>April 2021</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="resume" class="section-padding">
      <div class="container">
        <div class="row">
          <div >
            <div class="volunteering wow fadeInRight" data-wow-delay="0.6s">
              <ul class="timeline">
                <li>
                  <i class="icon-organization"></i>
                  <h2 class="timelin-title">Volunteering</h2>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">BTM Camp - Bilgiyi Ticarileştirme Merkezi (BTM)</h3>
                    <span>May 2022 - Sep 2022</span>
                    <p class="line-text">It is a program designed for entrepreneurs who want to become an entrepreneur or 
                      who want to turn their innovative idea into a business model and take part in the entrepreneurship ecosystem. (UVP)</p>
                  </div>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Volunteer - TEMA Vakfı</h3>
                    <span>Sep 2022 - ongping</span>
                    <p class="line-text">The Turkish Foundation for Combating Soil Erosion better known in abbreviated form as TEMA, is a non-governmental 
                      organization (NGO) for reforestation and the protection of natural habitats in Turkey.</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Resume Section End -->

    <!-- Portfolio Section -->
    <section id="portfolios" class="section-padding">
      <!-- Container Starts -->
      <div class="container">        
        <h2 class="section-title wow flipInX" data-wow-delay="0.4s">My Remarkable Works</h2>
        <div class="row">          
          <div class="col-md-12">
            <!-- Portfolio Controller/Buttons -->
            <div class="controls text-center">
              <a class="filter active btn btn-common" data-filter="all">
                All 
              </a>
              <a class="filter btn btn-common" data-filter=".Games">
                Games
              </a>
              <a class="filter btn btn-common" data-filter=".WebApps">
                Web Apps
              </a>
              <a class="filter btn btn-common" data-filter=".MobileApps">
                Mobile Apps 
              </a>
              <a class="filter btn btn-common" data-filter=".AI">
                AI 
              </a>
              <a class="filter btn btn-common" data-filter=".Other">
                Other 
              </a>
            </div>
            <!-- Portfolio Controller/Buttons Ends-->
          </div>

          <!-- Portfolio Recent Projects -->
          <div id="portfolio" class="row wow fadeInDown" data-wow-delay="0.4s">
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix AI">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="images/works/TweetEmotionRecognition.png" alt="" />  
                  <div class="overlay">
                    <div class="icons">
                      <a class="lightbox preview" href="images/works/TweetEmotionRecognition.png">
                        <i class="icon-eye"></i>
                      </a>
                      <a class="link" href="https://github.com/mertsancar/TweetEmotionRecognition">
                        <i class="icon-link"></i>
                      </a>
                    </div>
                  </div>
                </div>               
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix AI">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="images/works/Basic-ImageClassificationwithTensorFlow.png" alt="" />  
                  <div class="overlay">
                    <div class="icons">
                      <a class="lightbox preview" href="images/works/Basic-ImageClassificationwithTensorFlow.png">
                        <i class="icon-eye"></i>
                      </a>
                      <a class="link" href="https://github.com/mertsancar/Basic-ImageClassificationwithTensorFlow">
                        <i class="icon-link"></i>
                      </a>
                    </div>
                  </div>
                </div>               
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix mix Other">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="images/works/QuickOrder.png" alt=""/> 
                  <div class="overlay">
                    <div class="icons">
                      <a class="lightbox preview" href="images/works/QuickOrder.png">
                        <i class="icon-eye"></i>
                      </a>
                      <a class="link" href="https://github.com/7tepe-Dev/QuickOrder">
                        <i class="icon-link"></i>
                      </a>
                    </div>
                  </div>
                </div>               
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix Games">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="images/works/ConvoyPrototype.png" alt=""/> 
                  <div class="overlay">
                    <div class="icons">
                      <a class="lightbox preview" href="images/works/ConvoyPrototype.png">
                        <i class="icon-eye"></i>
                      </a>
                      <a class="link" href="https://github.com/mertsancar/ConvoyPrototype">
                        <i class="icon-link"></i>
                      </a>
                    </div>
                  </div>
                </div>               
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix WebApps">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="images/works/WeatherApp.png" alt="" /> 
                  <div class="overlay">
                    <div class="icons">
                      <a class="lightbox preview" href="images/works/WeatherApp.png">
                        <i class="icon-eye"></i>
                      </a>
                      <a class="link" href="https://github.com/mertsancar/WeatherApp">
                        <i class="icon-link"></i>
                      </a>
                    </div>
                  </div>
                </div>               
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix WebApps">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="images/works/ExtractGithub.png" alt="" /> 
                  <div class="overlay">
                    <div class="icons">
                      <a class="lightbox preview" href="images/works/ExtractGithub.png">
                        <i class="icon-eye"></i>
                      </a>
                      <a class="link" href="https://github.com/mertsancar/ExtractGithub">
                        <i class="icon-link"></i>
                      </a>
                    </div>
                  </div>
                </div>               
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix print Games">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="images/works/Coronarun.png" alt=""/>
                  <div class="overlay">
                    <div class="icons">
                      <a class="lightbox preview" href="images/works/Coronarun.png">
                        <i class="icon-eye"></i>
                      </a>
                      <a class="link" href="https://github.com/mertsancar/CoronaRun">
                        <i class="icon-link"></i>
                      </a>
                    </div>
                  </div>
                </div>               
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix print MobileApps">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="images/works/NeYesek.png" alt=""/>
                  <div class="overlay">
                    <div class="icons">
                      <a class="lightbox preview" href="images/works/NeYesek.png">
                        <i class="icon-eye"></i>
                      </a>
                      <a class="link" href="https://github.com/mertsancar/NeYesek">
                        <i class="icon-link"></i>
                      </a>
                    </div>
                  </div>
                </div>               
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix print Games">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="images/works/SumoCars.png" alt=""/>
                  <div class="overlay">
                    <div class="icons">
                      <a class="lightbox preview" href="images/works/SumoCars.png">
                        <i class="icon-eye"></i>
                      </a>
                      <a class="link" href="https://github.com/mertsancar/SumoCars">
                        <i class="icon-link"></i>
                      </a>
                    </div>
                  </div>
                </div>               
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix print Other">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="images/works/mertbot.png" alt=""/>
                  <div class="overlay">
                    <div class="icons">
                      <a class="lightbox preview" href="images/works/mertbot.png">
                        <i class="icon-eye"></i>
                      </a>
                      <a class="link" href="https://github.com/mertsancar/Mert-Bot">
                        <i class="icon-link"></i>
                      </a>
                    </div>
                  </div>
                </div>               
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix print MobileApps">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="images/works/MyTodo.png" alt=""/>
                  <div class="overlay">
                    <div class="icons">
                      <a class="lightbox preview" href="images/works/MyTodo.png">
                        <i class="icon-eye"></i>
                      </a>
                      <a class="link" href="https://github.com/mertsancar/MyTodo">
                        <i class="icon-link"></i>
                      </a>
                    </div>
                  </div>
                </div>               
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Container Ends -->
    </section>
    <!-- Portfolio Section Ends --> 



    <!-- Contact Section Start -->
    <section id="contact" class="section-padding">      
      <div class="contact-form">
        <div class="container">
          <div class="row contact-form-area wow fadeInUp" data-wow-delay="0.4s">          
            <!-- <div class="col-md-6 col-lg-6 col-sm-12">
              <div class="contact-block">
                <h2>Contact Form</h2>
                <form id="contactForm">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Name" required data-error="Please enter your name">
                        <div class="help-block with-errors"></div>
                      </div>                                 
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <input type="text" placeholder="Email" id="email" class="form-control" name="email" required data-error="Please enter your email">
                        <div class="help-block with-errors"></div>
                      </div> 
                    </div>
                     <div class="col-md-12">
                      <div class="form-group">
                        <input type="text" placeholder="Subject" id="msg_subject" class="form-control" required data-error="Please enter your subject">
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group"> 
                        <textarea class="form-control" id="message" placeholder="Your Message" rows="5" data-error="Write your message" required></textarea>
                        <div class="help-block with-errors"></div>
                      </div>
                      <div class="submit-button">
                        <button class="btn btn-common" id="submit" type="submit">Send Message</button>
                        <div id="msgSubmit" class="h3 text-center hidden"></div> 
                        <div class="clearfix"></div> 
                      </div>
                    </div>
                  </div>            
                </form>
              </div>
            </div> -->
            <div class="col-md-6 col-lg-6 col-sm-12">
              <div class="footer-right-area wow fadeIn">
                <h2>Contact Address</h2>
                <div class="footer-right-contact">
                  <div class="single-contact">
                    <div class="contact-icon">
                      <i class="fa fa-map-marker"></i>
                    </div>
                    <p>Istanbul, Turkey</p>
                  </div>
                  <div class="single-contact">
                    <div class="contact-icon">
                      <i class="fa fa-envelope"></i>
                    </div>
                    <p><a href="mailto:mertsancar@outlook.com.tr">mertsancar@outlook.com.tr</a></p>
                    <p><a href="mailto:mertsancar12@gmail.com">mertsancar12@gmail.com</a></p>
                  </div>
                  <!-- <div class="single-contact">
                    <div class="contact-icon">
                      <i class="fa fa-phone"></i>
                    </div>
                    <p><a href="#">+ (00) 123 456 789</a></p>
                    <p><a href="#">+ (00) 123 344 789</a></p>
                  </div> -->
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d192697.79449341062!2d28.87175340999151!3d41.00549539305757!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14caa7040068086b%3A0xe1ccfe98bc01b0d0!2zxLBzdGFuYnVs!5e0!3m2!1str!2str!4v1663531107468!5m2!1str!2str" width="950" height="450" style="margin: 50px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <!-- <object style="border:0; height: 450px; width: 100%;" data="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d34015.943594576835!2d-106.43242624069771!3d31.677719472407432!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86e75d90e99d597b%3A0x6cd3eb9a9fcd23f1!2sCourtyard+by+Marriott+Ciudad+Juarez!5e0!3m2!1sen!2sbd!4v1533791187584"></object> -->
            </div>
          </div>
        </div>
      </div>   
    </section>
    <!-- Contact Section End -->

    <!-- Footer Section Start -->
    <footer class="footer-area section-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="footer-text text-center wow fadeInDown" data-wow-delay="0.3s">
              <ul class="social-icon">
                  <li>
                    <a class="twitter" href="https://twitter.com/tremracnas"><i class="icon-social-twitter"></i></a>
                  </li>
                  <li>
                    <a class="linkedin" href="https://www.linkedin.com/in/mertsancar/"><i class="icon-social-linkedin"></i></a>
                  </li>
                  <li>
                    <a class="github" href="https://github.com/mertsancar"><i class="icon-social-github"></i></a>
                  </li>
                  <li>
                    <a class="instagram" href="https://www.instagram.com/mersancar/"><i class="icon-social-instagram"></i></a>
                  </li>              
              </ul>
              <!-- <p>Copyright © 2018 UIdeck All Right Reserved</p> -->
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Go to Top Link -->
    <a href="#" class="back-to-top">
      <i class="icon-arrow-up"></i>
    </a>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="javascripts/jquery-min.js"></script>
    <script src="javascripts/popper.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/jquery.mixitup.js"></script>
    <script src="javascripts/jquery.counterup.min.js"></script>
    <script src="javascripts/waypoints.min.js"></script>
    <script src="javascripts/wow.js"></script>
    <script src="javascripts/jquery.nav.js"></script>
    <script src="javascripts/jquery.easing.min.js"></script>  
    <script src="javascripts/nivo-lightbox.js"></script>
    <script src="javascripts/jquery.slicknav.js"></script>
    <script src="javascripts/main.js"></script>
    <script src="javascripts/form-validator.min.js"></script>
    <script src="javascripts/contact-form-script.min.js"></script>
    <script src="javascripts/map.js"></script>
    
    <script>
      function darkMode() {
        var element = document.body;
        element.classList.toggle("dark-mode");
     }
    </script>

      
  </body>
</html>
